<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body
    style="background-image: url('https://www.freepsdking.com/wp-content/uploads/2022/01/High-Resolution-Natural-Studio-Background-HD-Freepsdking.com-19.jpg'); background-size: cover;">
    <div>
      <div class="container-sm mt-5">
        <h1 style="color: white;">Welcome to HackKiloGram</h1>
        <a href="/login">
          <button type="button" class="btn btn-success">Log In</button>
        </a>
        <a href="/register">
          <button type="button" class="btn btn-success">Sign Up</button>
        </a>
      </div>
      <div class="container-sm mt-5" style="background-color: #198754; border-radius: 20px; color: antiquewhite;">
        <h3>Why HackKiloGram?</h3>
        <p>HackKiloGram gives you the convenience of expressing yourself in the form of photos. You can share photos
          with other users.</p>
        <p>HackKiloGram always tries to provide the best for its users both in terms of interface and experience.
        </p>
        <p>~Based on google translate</p>
      </div>
    </div>
  </body>

</html>