<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <h1>landing page</h1>
    <h3></h3>
    <div class="container-md">
      <a href="/login">
        <button type="button" class="btn btn-secondary">Log In</button>
      </a>
      <a href="/register">
        <button type="button" class="btn btn-secondary">Sign Up</button>
      </a>
    </div>
  </body>

</html>